<aside class="sidebar sidebar-main">
    <div class="sidebar-content">
        <ul class="sidebar-menu">
                <li class=""> <a href="index.html" class="ripple-effect">
                   <i class="icon-dashboard menutooltip" title="Index"></i> <span class="link-title">Index</span></a>
                </li>
                <li class=" "> <a href="#!/task1" class="ripple-effect">
                   <i class="icon-application menutooltip" title="Task 1"></i> 
                   <span class="link-title">Task 1</span></a>
                </li>
                <li class=""> <a href="#!/task2" class="ripple-effect">
                   <i class="icon-users" title="Task 2"></i> 
                   <span class="link-title">Task 2</span></a>
                </li>
                <li class=" "> <a href="#!/task3" class="ripple-effect">
                    <i class="icon-arrow-circle" title="Task 3"></i> 
                    <span class="link-title">Task 3</span></a>
                </li>
        </ul>
    </div>
</aside>